<footer id="layout-footer">
  <!-- Footer Starts -->
  <div>
    <h4>CSV File Reader</h4>
  </div>

  <div>
    <nav class="footer-nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Footer Ends -->

</footer>