<header>
  <!-- Header Starts -->
  <div class="header-container">
    <div class="nav-img-container">
      <a href="/">
        <img
          src="https://cdn-icons-png.flaticon.com/512/2644/2644083.png"
          alt="csv-icon"
          id="nav-icon"
        />
      </a>
    </div>
    <div class="nav-header">
      <h1>CSV Reader</h1>
    </div>
    <div class="nav-links">
      <a href="/">Home</a>
    </div>
  </div>
  <!-- Header Ends -->
</header>
